body{
    margin: 0;
    padding: 0;
    background: #16BFFD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@media screen and (min-width:300px) and (max-width:800px) {
    body{font-size:0.8em;}
    sidebar{display:none;}
}